<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 療癒之森</title>
    @Styles.Render("~/Content/css?version = 1.0")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <script>
        function makeAjaxRequest(redirectUrl, requestData) {
            $.ajax({
                url: redirectUrl,
                type: 'POST',
                data: requestData,
                success: function (result) {
                    // 更新部分內容
                    $('#PanelReload').html(result);
                }
            });
        }
    </script>
    <style>
        /* 自訂樣式 */
        .navbar {
            background-color: #A4DA8A; /* 背景顏色 */
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 陰影效果 */
        }

        .navbar-brand {
            font-family: Arial, sans-serif; /* 字體 */
            font-size: 34px; /* 字體大小 */
        }

        .navbar-nav .nav-link {
            color: white; /* 文字顏色 */
            font-size: 24px; /* 字體大小 */
        }

            .navbar-nav .nav-link:hover {
                color: #7785fc; /* 滑鼠懸停時的文字顏色 */
            }

        /* 選取項目樣式 */
        .navbar-nav .active > .nav-link {
            color: #7785fc; /* 選取項目的文字顏色 */
            font-weight: bold; /* 文字粗體 */
        }

        #searchform {
            margin-right: 30px;
        }
    </style>

    <div id="PanelReload">
        <nav class="navbar navbar-expand-xl navbar-dark fixed-top">
            <div class="container">
                @Html.ActionLink("療癒之森", "ArticleIndex", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">

                    @if (Session["UserID"] != null)
                    {


                        if (Session["UserType"].ToString() == "Member")
                        {
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">@Html.ActionLink("首頁", "ArticleIndex", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("發布文章", "ArticlePost", "ArticleManage", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("聊天室", "CharMember", "CharRoom", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("每日簽到", "dateView", "DateView", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("專家申請", "Apply", "Expert", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("申請修改", "Edit", "Expert", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("審查狀態", "Index", "Expert", new { area = "" }, new { @class = "nav-link" })</li>

                    </ul>

                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">@Html.ActionLink("會員專區", "MemberDetails", "UserManages", new { id = Session["UserID"] }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("登出", "Logout", "SignIn", new { area = "" }, new { @class = "nav-link", onclick = "return confirm('你是否要登出?');" })</li>
                            </ul>
                        }

                        else if (Session["UserType"].ToString() == "Expert")
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">@Html.ActionLink("首頁", "ArticleIndex", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("發布文章", "ArticlePost", "ArticleManage", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("聊天室", "CharMember", "CharRoom", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("每日簽到", "dateView", "DateView", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("專家回答問題", "ExpertAnser", "ExpertAnser", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>

                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">@Html.ActionLink("會員專區", "MemberDetails", "UserManages", new { id = Session["UserID"] }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("登出", "Logout", "SignIn", new { area = "" }, new { @class = "nav-link", onclick = "return confirm('你是否要登出?');" })</li>
                            </ul>

                        }

                        else if (Session["UserType"].ToString() == "Admin")
                        {
                            <ul class="navbar-nav ml-auto">                      
                                <li class="nav-item">@Html.ActionLink("檢舉", "Report", "Manager", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("會員", "UserMange", "Manager", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("申請清單", "Index", "Manager", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>

                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">@Html.ActionLink("登出", "Logout", "SignIn", new { area = "" }, new { @class = "nav-link", onclick = "return confirm('你是否要登出?');" })</li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">@Html.ActionLink("首頁", "ArticleIndex", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            </ul>
                            <ul>
                                <li class="nav-item">@Html.ActionLink("登出", "Logout", "SignIn", new { area = "" }, new { @class = "nav-link", onclick = "return confirm('你是否要登出?');" })</li>
                            </ul>

                        }






                    }
                    else
                    {
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">@Html.ActionLink("首頁", "ArticleIndex", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">@Html.ActionLink("登入", "Login", "UserManages", new { area = "" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("註冊", "Create", "UserManages", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                    }
                </div>
            </div>

        </nav>

        <div class="container body-content">
            <br>

            @RenderBody()

        </div>

    </div>

    <footer style=" display:flex; width:100%; margin-top: 30px; ">
        <p style="width:100%; text-align:center;">&copy; @DateTime.Now.Year - 療癒之森</p>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
