@model postArticle.viewmodel.RegisterViewModel

@{
    ViewBag.Title = "療癒之森";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<style>
    body {
        background-color: #DBF0D0;
    }

    .container-panel{
        height:100%;
    }

    .window_content {
        position: relative;
        width: 400px;
        height: fit-content;
        margin: 0 auto;
        top: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .verif {
        position:relative;
        width:100px;
        right:-65%;
    }

        .verif .verif_btn {
            border: none;
            color: #cccaca;
            background-color: #ffffff;
        }

            .verif .verif_btn:hover {
                color: #000000;
            }

    @@media screen and (max-width:769px) {
        .window_content {
            position: relative;
            width: 100%;
            height: fit-content;
            margin: 0 auto;
            top: 20px;
            padding-bottom: 20px;
            border-radius: 5px;
            background-color: #ffffff;
        }
    }
</style>






<div class="container-panel" style="margin-top:110px;">
    <div class="window_content">
        <div class="window_content_bodt">

            @using (Html.BeginForm("Create", "UserManages", FormMethod.Post, new { @class = "form-container" }))
            {
                @Html.AntiForgeryToken()

                <div style=" padding-bottom:10px; padding-top:20px; text-align:center; font-size:30px; ">註冊</div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.EditorFor(model => model.userManage.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入暱稱", @style = "background-color:#F2ECE2;", @id = "username" } })
                        @Html.ValidationMessageFor(model => model.userManage.UserName, "", new { @class = "text-danger" })
                        <span id="usernameError" class="text-danger"></span>
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.EditorFor(model => model.userManage.Account, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入帳號", @style = "background-color:#F2ECE2;", @id = "account" } })
                        @Html.ValidationMessageFor(model => model.userManage.Account, "", new { @class = "text-danger" })
                        <span id="accountError" class="text-danger"></span>
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.PasswordFor(model => model.userManage.Password, new { @class = "form-control", @id = "passwordInput", placeholder = "請輸入密碼 ", @style = "background-color:#F2ECE2;" })
                        @Html.ValidationMessageFor(model => model.userManage.Password, "", new { @class = "text-danger" })
                        <span id="togglePassword" class="fa fa-eye-slash" style="position: absolute; right: 10px; top: 10px; cursor: pointer;"></span>
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "passwordInputs", placeholder = "再次輸入密碼 ", @style = "background-color:#F2ECE2;" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <span id="togglePasswords" class="fa fa-eye-slash" style="position: absolute; right: 10px; top: 10px; cursor: pointer;"></span>
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.EditorFor(model => model.userManage.Email, new { htmlattributes = new { @class = "form-control", placeholder = "請輸入信箱", @style = "background-color:#F2ECE2;", id = "Email" } })
                        @Html.ValidationMessageFor(model => model.userManage.Email, "", new { @class = "text-danger" })
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", placeholder = "請輸入驗證碼", @style = "background-color:#F2ECE2;" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        <div class="verif">
                            <button type="button" id="sendCodeButton" class="verif_btn">傳送驗證碼</button>
                        </div>
                    </div>

                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">

                        @Html.EditorFor(model => model.userManage.Birthday, new { htmlAttributes = new { @class = "form-control", placeholder = "生日", @style = "background-color:#F2ECE2;", type = "date" } })
                        @Html.ValidationMessageFor(model => model.userManage.Birthday, "", new { @class = "text-danger" })
                    </div>



                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        <input id="submitButton" type="submit" value="註冊" class="btn btn-default  form-control" style="background-color:#97CD7D;" />
                    </div>
                </div>


            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        $(function () {

            // 点击发送验证码按钮
            $('#sendCodeButton').click(function () {
                // 获取邮箱地址
                var email = $('#Email').val();
                

                // 示例代码：使用Ajax发送请求到服务器端发送验证码的接口
                var Url = '@Url.Action("SendVerificationCode", "UserManages")';
                $.ajax({
                    url: Url,
                    type: 'POST',
                    data: { email: email },
                    success: function (response) {
                        // 发送成功的处理逻辑
                        if (response.success) {
                            alert('驗證碼已發送，請查收！');
                        } else {
                            alert('發送驗證碼失敗，請重試！');
                        }
                    },
                    error: function () {
                        // 发送失败的处理逻辑
                        alert('發送驗證碼失敗，請重試！');
                    }
                });
            });
        });


          //限制暱稱帳號不重複
        $(document).ready(function () {
            $("#username").blur(function () {
                var username = $(this).val();
            $.ajax({
                url: "@Url.Action("IsUserNameUnique", "UserManages")",
                data: { username: username },
                type: "GET",
                success: function (data) {
                    if (data) {
                        $("#usernameError").text("");
                        // 啟用提交按鈕
                        $("#submitButton").prop("disabled", false);
                    } else {
                        $("#usernameError").text("此暱稱已被使用！");
                        // 禁用提交按鈕
                        $("#submitButton").prop("disabled", true);
                    }
                }
            });
        });

        $("#account").blur(function () {
            var account = $(this).val();
            $.ajax({
                url: "@Url.Action("IsAccountUnique", "UserManages")",
                data: { account: account },
                type: "GET",
                success: function (data) {
                    if (data) {
                        $("#accountError").text("");
                        // 啟用提交按鈕
                        $("#submitButton").prop("disabled", false);
                    } else {
                        $("#accountError").text("此帳號已被使用！");
                        // 禁用提交按鈕
                        $("#submitButton").prop("disabled", true);
                    }
                }
            });
        });
        });




        // 初始化密码显示/隐藏状态
        var passwordVisible = false;

        // 显示/隐藏密码功能
        $(document).ready(function () {
            $("#togglePassword").click(function () {
                var passwordInput = $("#passwordInput");
                if (passwordVisible) {
                    passwordInput.attr("type", "password");
                    $("#togglePassword").removeClass("fa-eye").addClass("fa-eye-slash");
                } else {
                    passwordInput.attr("type", "text");
                    $("#togglePassword").removeClass("fa-eye-slash").addClass("fa-eye");
                }
                passwordVisible = !passwordVisible;
            });
        });

        // 初始化密码显示/隐藏状态
        var passwordVisibles = false;

        // 显示/隐藏密码功能
        $(document).ready(function () {
            $("#togglePasswords").click(function () {
                var passwordInputs = $("#passwordInputs");
                if (passwordVisibles) {
                    passwordInputs.attr("type", "password");
                    $("#togglePasswords").removeClass("fa-eye").addClass("fa-eye-slash");
                } else {
                    passwordInputs.attr("type", "text");
                    $("#togglePasswords").removeClass("fa-eye-slash").addClass("fa-eye");
                }
                passwordVisibles = !passwordVisibles;
            });
        });
    </script>
}

