@model postArticle.viewmodel.EditPasswordViewModel

@{
    ViewBag.Title = "EditPassword";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    body {
        background-color: #DBF0D0;
    }

    .window_content {
        position: relative;
        width: 400px;
        height: 450px;
        margin: 0 auto;
        top: 20px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    @@media screen and (max-width:769px) {
        .window_content {
            position: relative;
            width: 100%;
            height: 445px;
            margin: 0 auto;
            top: 20px;
            border-radius: 5px;
            background-color: #ffffff;
        }
    }
</style>

<h1 style="padding:50px 0px 0px 0px; color:black; text-align:center;">療癒之森</h1>



<div class="container">
    <div class="window_content">
        <div class="window_content_body">

            @using (Html.BeginForm("EditPassword", "UserManages", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div style=" padding-bottom:10px; padding-top:20px; text-align:center; font-size:30px; ">修改會員密碼</div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.userManage.UserID)
                @Html.HiddenFor(model => model.userManage.UserName)
                @Html.HiddenFor(model => model.userManage.Account)
                @Html.HiddenFor(model => model.userManage.Email)
                @Html.HiddenFor(model => model.userManage.UserType)
                @Html.HiddenFor(model => model.userManage.LevelValue)
                @Html.HiddenFor(model => model.userManage.Experience)
                @Html.HiddenFor(model => model.userManage.Birthday)
                @Html.HiddenFor(model => model.userManage.Status)

                <div class="form-group">
                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "請輸入舊密碼", id = "oldPassword", @style = "background-color:#F2ECE2;" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        <span id="oldPasswordError" class="text-danger" style="display: none;"></span>
                        <!-- 添加显示/隐藏密码按钮 -->
                        <i class="fa fa-eye-slash" id="toggleOldPassword" style="position: absolute; right: 10px; top: 10px; cursor: pointer;"></i>
                    </div>
                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "請輸入新密碼", id = "newPassword", @style = "background-color:#F2ECE2;" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        <!-- 添加显示/隐藏密码按钮 -->
                        <i class="fa fa-eye-slash" id="toggleNewPassword" style="position: absolute; right: 10px; top: 10px; cursor: pointer;"></i>
                    </div>
                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "請確認新密碼", id = "confirmPassword", @style = "background-color:#F2ECE2;" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        <!-- 添加显示/隐藏密码按钮 -->
                        <i class="fa fa-eye-slash" id="toggleConfirmPassword" style="position: absolute; right: 10px; top: 10px; cursor: pointer;"></i>
                    </div>
                    <div style="position: relative; display: table; margin: 15px auto; width: 250px;">
                        <input id="submitButton" type="submit" value="修改密碼" class="btn btn-default  form-control" style="background-color:#97CD7D;" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    // 初始化密码显示/隐藏状态
    var oldPasswordVisible = false;
    var newPasswordVisible = false;
    var confirmPasswordVisible = false;

    // 显示/隐藏密码功能
    $(document).ready(function () {
        $("#toggleOldPassword").click(function () {
            var oldPasswordInput = $("#oldPassword");
            if (oldPasswordVisible) {
                oldPasswordInput.attr("type", "password");
                $("#toggleOldPassword").removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                oldPasswordInput.attr("type", "text");
                $("#toggleOldPassword").removeClass("fa-eye-slash").addClass("fa-eye");
            }
            oldPasswordVisible = !oldPasswordVisible;
        });

        $("#toggleNewPassword").click(function () {
            var newPasswordInput = $("#newPassword");
            if (newPasswordVisible) {
                newPasswordInput.attr("type", "password");
                $("#toggleNewPassword").removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                newPasswordInput.attr("type", "text");
                $("#toggleNewPassword").removeClass("fa-eye-slash").addClass("fa-eye");
            }
            newPasswordVisible = !newPasswordVisible;
        });

        $("#toggleConfirmPassword").click(function () {
            var confirmPasswordInput = $("#confirmPassword");
            if (confirmPasswordVisible) {
                confirmPasswordInput.attr("type", "password");
                $("#toggleConfirmPassword").removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                confirmPasswordInput.attr("type", "text");
                $("#toggleConfirmPassword").removeClass("fa-eye-slash").addClass("fa-eye");
            }
            confirmPasswordVisible = !confirmPasswordVisible;
        });
    });




</script>




