x@*@model postArticle.Models.UserManage*@

@using PagedList.Mvc
@using PagedList
@model postArticle.viewmodel.MemberDetailsViewModel

<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "會員資料";
    var usertype = "";

    var UQ = Model.UserQuestions;
    var EQA = Model.ExpertAS;
    var MA = Model.MemberArticles;

    var nowmood = Model.nowmood;

    var moodcount = ViewBag.happyCount + ViewBag.unhappyCount + ViewBag.sadCount + ViewBag.angryCount;


}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<style>
    body {
        background-color: #DBF0D0;
    }


    a {
        text-decoration: none;
        font-size: 20px;
        color: #b2acac;
    }

    .container-panel {
        position: relative;
        display: flex;
        height: max-content;
        margin-top: 70px;
        margin-left: 2%;
        margin-bottom: 300px;
    }


    .article-title a:hover{
        color:rgb(86 180 42 / 0.75);
    }

    .article-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .window_content {
        position: relative;
        margin-left: 6%;
        height: auto;
        width: 900px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .window_content {
        position: relative;
        margin: auto;
        height: 300px;
        width: 900px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 70px;
    }

    .custom-btn {
        padding: 10px 10px; /* Padding for the button */
        border-radius: 5px; /* Rounded corners */
        width: 150px; /* 指定按钮的宽度 */
        transition: background-color 0.3s; /* 添加过渡效果 */
    }

        .custom-btn:hover {
            background-color: #97CD7D; /* 鼠标悬停时的背景颜色 */
        }

    .circle-avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover; /* 保持图片比例并填充整个头像区域 */
        background-position: center; /* 将图片居中 */
        background-color: #d5f5c6;
    }

    .box {
        width: 40px;
        height: 35px;
        background-color: #c5e5b6;
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        margin-left: -130px;
        margin-top: 50px;
    }

        .box:hover {
            width: 180px;
            transition: 0.5s;
        }

    .mood {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
    }

    .mood-preform {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
    }

    .article-title a {
        text-decoration: underline;
        color: #b2acac;
    }


    #mood-font {
        font-size: 20px;
    }

    footer {
        display: none;
    }
    /************************************************/
    #experienceBar {
        max-width: 300px;
        width: 90%;
        height: 20px;
        border: 1px solid #000;
        position: relative;
    }

    #experienceBar2 {
        max-width: 300px;
        width: 90%;
        height: 20px;
        border: 1px solid #000;
        position: relative;
        margin-top: -10px;
    }

    #experienceFill {
        height: 100%;
        width: 0;
        background-color: #97CD7D; /* 綠色 */
        position: absolute;
    }

    #experienceText {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 20px;
        color: #000;
    }

    #ExpertExperienceBar {
        width: 90%;
        max-width: 300px;
        height: 20px;
        border: 1px solid #000;
        position: relative;
        margin-top: -10px;
    }


    #ExpertExperienceFill {
        height: 100%;
        width: 0;
        background-color: #97CD7D; /* 綠色 */
        position: absolute;
    }

    #ExpertExperienceText {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 20px;
        color: #000;
    }
    /****************************************************/

</style>


@switch (Model.UserManagesDetail.UserType)
{
    case "Member":
        usertype = "會員";
        break;

    case "Expert":
        usertype = "專家";
        break;

    case "Admin":
        usertype = "管理員";
        break;

    default:
        usertype = "Not Found";
        break;


}
@Html.AntiForgeryToken()
<div style="margin-top: 35px; position: fixed; z-index: 999; background-color: #DBF0D0; width: 100%; padding: 10px;">
    <span class="container-header" style="text-align: center; font-size: 20px; font-weight: 500; background-color: rgb(86 180 42 / 0.75); border-radius: 5px; padding:5px;">@usertype</span>
    <a href="@Url.Action("MemberEdit", "UserManages", new { id = Model.UserManagesDetail.UserID })">資料修改</a>
    <a href="@Url.Action("EditPassword", "UserManages", new { id = Model.UserManagesDetail.UserID })">密碼修改</a>
    @if (Session["UserType"].ToString() == "Member")
    {
        <a href="@Url.Action("Index", "Expert")">審查狀態</a>
    }
    <a href="@Url.Action("TreeHole", "UserManages")" }>我的樹洞</a>
    <a href="#my-question">我的提問</a>
    <a href="#">我的文章</a>
    <a href="#mood_container">心情紀錄</a>

    <!-- 在这里添加更多按钮 -->
</div>



<div id="mood_box" class="container-panel">


    @*
        <div class="list-group" style="height:100%; top:20%; display:none;">
            <span style="text-align: center; font-size: 20px; font-weight: 500; background-color: rgb(86 180 42 / 0.75); border-radius: 5px; padding:5px;">@usertype</span>
            <a href="@Url.Action("MemberEdit", "UserManages", new { id = Model.UserManagesDetail.UserID })" class="list-group-item btn custom-btn">資料修改</a>
            <a href="@Url.Action("EditPassword", "UserManages", new { id = Model.UserManagesDetail.UserID })" class="list-group-item btn custom-btn">密碼修改</a>
            <a href="@Url.Action("TreeHole", "UserManages")" , new{ class="list-group-item btn custom-btn" }>我的樹洞</a>
            <a href="#my-question" class="list-group-item btn custom-btn">我的提問</a>
            <a href="#" class="list-group-item btn custom-btn">我的收藏</a>
            <a href="#mood_container" class="list-group-item btn custom-btn mood-reward">心情紀錄</a>
            <!-- 在这里添加更多按钮 -->
        </div>
    *@



    <div class="window_content" style="margin-top:50px;">
        <div style="position: relative; float: left;  margin: 15px 0 0 3%;">
            <div class="circle-avatar">
                <img src="@GetAvatarByLevel(Model.UserManagesDetail.LevelValue)" alt="Your Image" class="rounded-image" />
            </div>


            @functions {
                public string GetAvatarByLevel(int levelValue)
                {
                    switch (levelValue)
                    {
                        case 0:
                            return Url.Content("~/Image/level0.png");
                        case 1:
                            return Url.Content("~/Image/level1.png");
                        case 2:
                            return Url.Content("~/Image/level2.jpg");
                        case 3:
                            return Url.Content("~/Image/level3.jpg");
                        case 4:
                            return Url.Content("~/Image/level4.jpg");
                        case 5:
                            return Url.Content("~/Image/level5.jpg");
                        case 6:
                            return Url.Content("~/Image/level6.jpg");
                        case 7:
                            return Url.Content("~/Image/level7.jpg");
                        default:
                            return Url.Content("~/Image/level0.png"); // 默認
                    }
                }
            }

            <div style="position: relative; text-align: center; margin: 0 auto;">
                <strong>
                    @Model.UserManagesDetail.UserName
                </strong>
            </div>
        </div>


        <div style="position: relative; width:300px; float:left; margin: 0px 0 0 58px; ">


            @if (Model.UserManagesDetail.UserType == "Member")
            {
                <div style="margin-top:30px;"></div>
                <p>等級:@ViewBag.level</p>
                <div id="experienceBar">
                    <div id="experienceFill"></div>
                    <div id="experienceText"></div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        updateExperienceBar();
                    });

                </script>

            }
            @if (Model.UserManagesDetail.UserType == "Expert")
            {


                <p> 會員等級: <span id="levelValue">@ViewBag.level</span></p>
                <div id="experienceBar2">
                    <div id="experienceFill"></div>
                    <div id="experienceText"> </div>
                </div>

                <p> 專家等級: @ViewBag.expertLevel</p>


                <div id="ExpertExperienceBar">
                    <div id="ExpertExperienceFill"></div>
                    <div id="ExpertExperienceText"></div>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        updateExperienceBar();
                        updateExpertExperienceBar();
                    });
                </script>
            }


            <div class="box">
                @switch (nowmood)
                {

                    case "happy":
                        <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood">&#128516;</p></button></span>
                        break;

                    case "unhappy":
                        <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood">&#128557;</p></button></span>
                        break;

                    case "sad":
                        <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood">&#128542;</p></button></span>
                        break;

                    case "angry":
                        <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood">&#128545;</p></button></span>
                        break;

                    default:
                        <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood"></p></button></span>
                        break;

                }
                <span title="Happy"><button class="mood" value="happy"><p id="mood-font">&#128516;</p></button></span>
                <span title="UnHappy"><button class="mood" value="unhappy"><p id="mood-font">&#128557;</p></button></span>
                <span title="Sad"><button class="mood" value="sad"><p id="mood-font">&#128542;</p></button></span>
                <span title="Angry"><button class="mood" value="angry"><p id="mood-font">&#128545;</p></button></span>
            </div>

            <!------------自介------------->
            <div style="width: 700px; height:180px; margin:10px auto 10px 0; border-radius:5px; background-color:rgb(241 239 239 / 0.90)">
                <p style="margin:2px 0 0 5px;">個人簡介</p>



                @using (Html.BeginForm("Update_info", "UserManages", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.UserManagesDetail.UserID);
                    @Html.HiddenFor(Model => Model.UserManagesDetail.UserType);
                    @Html.HiddenFor(Model => Model.UserManagesDetail.UserName);

                    <div class="row" style="padding:0px; margin-left:10px;">
                        @Html.TextAreaFor(Model => Model.UserManagesDetail.UserInfo, new { @class = "text-area", placeholder = "請輸入個人簡介", id = "userInfoTextArea", style = "width:680px; height:140px; resize:none; overflow-y:scroll; " })
                    </div>
                }



            </div>


        </div>


        <div class="window_content" style="margin-top:350px; margin-left:-4px; height:500px;">

            <div style="width: 100%; text-align: center; padding: 20px 0 0 0; font-size: 30px;">我的文章</div>


            @foreach (var ma in MA)
            {

                <div style="width: 800px; height: 170px; background-color: rgb(241 239 239 / 0.90); margin:10px auto 0 auto; ">


                    <div class="row">
                        <div class="col-6" style="width:400px; height:170px; margin:5px 0 0 10px;">
                            <div class="article-title" style="font-weight:600;">
                                <a href="@Url.Action("ArticleDetails", "ArticleManage", new { id =ma.ArticleID })">
                                    @Html.DisplayFor(modelItem => ma.Title)
                                </a>
                            </div>
                            <div class="article-content">

                                @{
                                    string content = HttpUtility.HtmlDecode(ma.Content); // 解碼HTML內容
                                    content = content.Length > 50 ? content.Substring(0, 50) + "..." : content;
                                }

                                <p>@content</p>

                            </div>
                            <div class="article-info">
                                @Html.DisplayFor(modelItem => ma.UserManage.UserName)
                                @Html.DisplayFor(modelItem => ma.Time)
                            </div>

                        </div>
                        <div class="col-6  article-image" style="width:340px; height:170px; overflow:hidden; margin-left: 40px;">
                            <img src="~/Uploads/@Html.DisplayFor(modelItem => ma.ImageURL)" alt="Article Image">
                            @Html.HiddenFor(modelItem => ma.ImageURL)
                        </div>

                    </div>
                </div>

            }

            <div style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);">
                @Html.PagedListPager(MA, page => Url.Action("MemberDetails", new { id = Model.UserID, page = page }))
            </div>


        </div>

        <div class="window_content" id="my-question" style="margin-top:50px; margin-left:-4px; height:fit-content; padding-bottom:30px;">

            <p style="padding:20px 0 0 0; font-size:30px; text-align:center;">我的提問</p>

            <div id="question-container" style="width:100%; max-height:500px; height:auto; overflow-y:scroll; overflow-x:hidden;">



                @if (UQ.Count() < 1)
                {
                    <p id="myParagraph" style="display:flex; height:100%; width:100%; justify-content:center; align-items:center; font-size:30px; font-weight:bold; color:rgb(209 209 209 / 0.85)">開始我的第一則提問</p>
                }


                @foreach (var item in UQ)
                {

                    <div class="btn btn-link card-header list-group-item list-group-item-action list-group-item-info Question" data-value=@item.UserQuestionID style="width:80%; margin:0 auto 10px auto;  padding:10px;">
                        <h3>問題</h3>
                        <p>@item.QuestionContent</p>
                        <h6>@item.QuestionTime.ToString("d")</h6>
                        <div class="card-body">


                            <div class="card Question-info">


                                @if (EQA != null)
                                {

                                    foreach (var i in EQA)
                                    {
                                        if (i.QuestionID == item.UserQuestionID)
                                        {
                                            <div class="list-group" style="padding:3px;">
                                                @i.UserManage.UserName 回答 :
                                                <br>
                                                @i.AnswerContent
                                            </div>
                                        }
                                    }

                                }


                            </div>


                        </div>



                    </div>


                }
            </div>



            <div style="text-align: center; margin: 30px 0 30px 0;">

                @Html.TextBoxFor(m => m.SubmitUQ.QuestionContent, new { @title = "輸入提問", @placeholder = "輸入提問", @style = "width: 400px; padding: 5px; border: 1px solid #ccc; border-radius: 5px;", @id = "questionInput" })


                <button type="submit" class="question_submit" style="background-color: transparent; border:none;">
                    <img src="/ICON/send-fill.svg" width="28" height="28">
                </button>

            </div>


        </div>


        <div class="window_content" id="mood_container" style="margin-top:30px; margin-bottom:100px; margin-left:-4px; height: 600px; position: relative;">

            <div style="width: 100%; text-align: center; padding: 20px 0 0 0; font-size: 30px;">我的心情紀錄</div>

            @if (moodcount != 0)
            {
                <div style="width: 450px; height: 450px; position: absolute; margin-top:30px; margin-left:230px;">
                    <canvas id="myPieChart"></canvas>
                </div>

                <div style="position:absolute; bottom:0; right:0; margin-right: 50px;">
                    <p style="color: rgb(161 161 161 / 0.89)">總共 @moodcount 天紀錄</p>
                </div>
            }
            else
            {
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                    <a href="#mood_box" style="width: 100%; text-decoration: none; font-size: 30px; font-weight: bold; color: rgb(209 209 209 / 0.85)">開始您的心情紀錄</a>
                </div>
            }

        </div>


        <div style="visibility:hidden">1</div>

    </div>


</div>




<script>


    document.getElementById("userInfoTextArea").addEventListener("keydown", function (event) {
        if (event.key === "Enter" && !event.shiftKey) {
            event.preventDefault(); // 阻止默认的 Enter 换行行为
            document.forms[0].submit(); // 模拟表单提交
        }
    });




    function previewImage(input) {
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }



    $(document).ready(function () {


        //初始化
        $(".Question-info").hide();

        $(".mood").click(function () {

            var text = $(this).val();


            switch (text) {

                case "happy":
                    $('.now-mood').text("😄");
                    break;

                case "unhappy":
                    $('.now-mood').text("😭");
                    break;

                case "sad":
                    $('.now-mood').text("😢");
                    break;

                case "angry":
                    $('.now-mood').text("😡");
                    break;

                default:
                    break;

            }



            ///////將mood寫入或更新資料庫

            $.ajax({

                url: '@Url.Action("MoodEdit","UserManages")',
                type: "post",
                data: { moodcontext: text },
                success: function (result) {

                    alert("成功" + text);

                },
                error: function () {

                }


            });

        });

        //
        $(".Question").click(function () {

            $(".Question-info").hide();
            $(this).find(".Question-info").toggle();
            var value = $(this).data("value");

        });



        //
        $(".question_submit").click(function () {

            var inputText = $('#questionInput').val();
            $('#questionInput').val('');

            $.ajax({

                url: '@Url.Action("Submit_UserQuestion", "UserManages")',
                type: "Post",
                data: { inputvalue: inputText },
                success: function (data) {

                    $("#myParagraph").remove();

                    var question = data.QM.NewQ;
                    var date = data.QM.Date

                    var questionDiv = $('<div>').addClass('btn btn-link card-header list-group-item list-group-item-action list-group-item-info Question')
                        .css({ 'width': '80%', 'margin': '0 auto 10px auto', 'padding': '10px' });

                    var h3 = $('<h3>').text('問題 :');

                    var p = $('<p>').text(question);

                    var h6 = $('<h6>').text(date);

                    questionDiv.append(h3, p, h6);

                    $('#question-container').append(questionDiv);

                },
                error: function () {
                    alert("失敗");
                }



            });


        });


    });




    // canvas元素
    var ctx = document.getElementById('myPieChart').getContext('2d');
    //表情
    var encodedText = encodeURI('&#128516');
    var happy = "😃";
    var badmood = "😞";
    var cry = "😭";
    var angry = "😡";



    //資料欄
    var data = {
        labels: [happy + "開心", badmood + "不開心", cry + "難過", angry + "憤怒" ],
        datasets: [{
            data: [@ViewBag.happyCount, @ViewBag.unhappyCount, @ViewBag.sadCount, @ViewBag.angryCount],
            backgroundColor: ['#f564', 'green', 'blue', 'red']
        }]
    };

    //創建圓餅圖
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });



    //////////////////////////////////////////



    function updateExperienceBar() {
        var currentExperience = @ViewBag.currentLevelExperience;
	    var nextLevelExperience = @ViewBag.toNextLevelExperience;
		var fillWidth = (currentExperience / nextLevelExperience) * 100;
		document.getElementById("experienceFill").style.width = fillWidth + "%";
		document.getElementById("experienceText").textContent = currentExperience + " / " + nextLevelExperience ;
    }


        function updateExpertExperienceBar() {
        var currentExpertExperience = @ViewBag.currentExpertLevelExperience;
	    var nextExpertLevelExperience = @ViewBag.toNextExpertLevelExperience;
		var fillWidth = (currentExpertExperience / nextExpertLevelExperience) * 100;
        document.getElementById("ExpertExperienceFill").style.width = fillWidth + "%";
		document.getElementById("ExpertExperienceText").textContent = currentExpertExperience + " / " + nextExpertLevelExperience ;
        };




    ////////////////////////////////////////////////////////////////



</script>




