@*@model postArticle.Models.UserManage*@
@model postArticle.viewmodel.MemberDetailsViewModel
@{
    ViewBag.Title = "會員資料";
    var usertype = "";

    var UQ = Model.UserQuestions;
    var EQA = Model.ExpertAS;

}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<style>
    body {
        background-color: #DBF0D0;
    }

    .container-panel {
        position: relative;
        display: flex;
        height: max-content;
        margin-top: 70px;
        margin-left: 2%;
        margin-bottom:300px;
    }

    .window_content {
        position: relative;
        margin-left: 6%;
        height: 300px;
        width: 900px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom:70px;
        
    }

    .custom-btn {
        padding: 10px 10px; /* Padding for the button */
        border-radius: 5px; /* Rounded corners */
        width: 150px; /* 指定按钮的宽度 */
        transition: background-color 0.3s; /* 添加过渡效果 */
    }

        .custom-btn:hover {
            background-color: #97CD7D; /* 鼠标悬停时的背景颜色 */
        }

    .circle-avatar {
        width: 100px; 
        height: 100px; 
        border-radius: 50%; 
        background-size: cover; /* 保持图片比例并填充整个头像区域 */
        background-position: center; /* 将图片居中 */
        background-color: #d5f5c6;
    }

    .box {
        width: 40px;
        height: 35px;
        background-color: #c5e5b6;
        border-radius: 10px;
        overflow: hidden;
    }

        .box:hover {
            width: 180px;
            transition: 0.5s;
        }

    .mood {
        border: none;
        background-color: transparent;
        width:30px;
        height:30px;
    }

    .mood-preform {
        border: none;
        background-color: transparent;
        width: 30px;
        height: 30px;
    }
    #mood-font {
        font-size: 20px;
    }

    footer {
        display:none;
    }

</style>


@if (Model.UserManagesDetail.UserType == "Member")
{
    usertype = "會員";
}
@Html.AntiForgeryToken()
<div class="container-panel">

    <div class="list-group" style="height:100%;">
        <a href="@Url.Action("MemberEdit", "UserManages", new { id = Model.UserManagesDetail.UserID })" class="list-group-item btn custom-btn">資料修改</a>
        <a href="@Url.Action("EditPassword", "UserManages", new { id = Model.UserManagesDetail.UserID })" class="list-group-item btn custom-btn">密碼修改</a>
        <a href="#my-question" class="list-group-item btn custom-btn">我的提問</a>
        <a href="#" class="list-group-item btn custom-btn">我的收藏</a>
        <a href="#mood_container" class="list-group-item btn custom-btn mood-reward">心情紀錄</a>
        <a href="#" class="list-group-item btn custom-btn">我的好友</a>
        <a href="#" class="list-group-item btn custom-btn">我的群組</a>
        <!-- 在这里添加更多按钮 -->
    </div>

    <div class="window_content">


        <div style="position: relative; float: left;  margin: 15px 0 0 3%;">
            <div class="circle-avatar"></div><!-- 大頭貼預定地 -->
            <div style="position: relative; text-align: center; margin: 0 auto;">
                <strong>
                    @Model.UserManagesDetail.UserName
                </strong>
            </div>
        </div>

        <div style="position: relative; float:left; margin: 40px 0 0 58px; ">
            <p>@usertype 等級:@Model.UserManagesDetail.LevelValue</p>
            <p>@usertype 經驗值:@Model.UserManagesDetail.Experience</p>
            <div class="box" style="position:absolute; margin-left:-130px; margin-top:30px;">
                <span title="現在心情"><button class="mood-preform" disabled"><p id="mood-font" class="now-mood"></p></button></span>
                <span title="喜"><button class="mood" value="&#128516;"><p id="mood-font">&#128516;</p></button></span>
                <span title="傷心"><button class="mood" value="&#128557;"><p id="mood-font">&#128557;</p></button></span>
                <span title="悶"><button class="mood" value="&#128542;"><p id="mood-font">&#128542;</p></button></span>
                <span title="怒"><button class="mood" value="&#128545;"><p id="mood-font">&#128545;</p></button></span>
            </div>
        </div>


        <div class="window_content" id="my-question" style="margin-top:350px; margin-left:-4px; height:fit-content; padding-bottom:30px;">

            <p style="padding:20px 0 0 0; font-size:30px; text-align:center;">我的提問</p>


            @if (UQ.Count()<1)
            {
                <p style="text-align:center; font-size:30px;">開始我的第一則提問</p>
            }


            @foreach (var item in UQ)
            {

                <div class="btn btn-link card-header list-group-item list-group-item-action list-group-item-info Question" data-value=@item.UserQuestionID style="width:80%; margin:0 auto 10px auto;  padding:10px;">
                    問題 :
                    <p>@item.QuestionTitle @item.QuestionContent @item.QuestionTime</p>
                    <div class="card-body">


                        <div class="card Question-info">


                            @if (EQA != null)
                            {

                                foreach (var i in EQA)
                                {
                                    if (i.QuestionID == item.UserQuestionID)
                                    {
                                        <div class="list-group" style="padding:3px;">
                                            回答 :
                                            <br>
                                            @i.AnswerContent
                                        </div>
                                    }
                                }

                            }


                        </div>


                    </div>



                </div>


            }



            @using (Html.BeginForm("Submit_UserQuestion", "UserManages", FormMethod.Post, new { @style = "text-align: center; margin: 30px 0 30px 0;" }))
            {


                @Html.AntiForgeryToken();

                @Html.TextBoxFor(m => m.SubmitUQ.QuestionContent, new { @title = "輸入提問", @placeholder = "輸入提問", @style = "width: 400px; padding: 5px; border: 1px solid #ccc; border-radius: 5px;" })


                <button type="submit" style="background-color: transparent; border:none;">
                    <img src="~/ICON/send-fill.svg" width="28" height="28">
                </button>

            }


        </div>



        <div class="window_content" id="mood_container" style="margin-top:30px; margin-bottom:100px;  margin-left:-4px; height: 500px;">

            <div style="width: 450px; height: 450px; position:absolute; margin-top:30px;  margin-left:230px;">
                <canvas id="myPieChart"></canvas>
            </div>

        </div>

        <div style="visibility:hidden">1</div>

    </div>


</div>




<script>
    function previewImage(input) {
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }



    $(document).ready(function () {

        //初始化
        $(".Question-info").hide();

        $(".mood").click(function () {

            var text = $(this).val();

            $('.now-mood').text(text);

        });

        //當點擊按鈕input清空
        $(".Question").click(function () {

            $(".Question-info").hide();
            $(this).find(".Question-info").toggle();
            var value = $(this).data("value");

        });


    });




    // canvas元素
    var ctx = document.getElementById('myPieChart').getContext('2d');
    //表情
    var encodedText = encodeURI('&#128516');
    var happy = "😃";
    var badmood = "😞";
    var cry = "😭";
    var angry = "😡";



    //資料欄
    var data = {
        labels: ["開心" + happy, "傷心" + badmood, "哭泣" + cry, "憤怒" + angry],
        datasets: [{
            data: [7, 8, 9, 10],
            backgroundColor: ['#f564', 'green', 'blue', 'red']
        }]
    };

    // 创建圆饼图
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });


</script>