@using PagedList.Mvc
@using PagedList
@model postArticle.viewmodel.ExpertAnser

<!--page css-->
<link href="~/Content/PagedList.css" rel="stylesheet" />


@{
    ViewBag.Title = "ExpertAnser";
}

@{
    var UQ = Model.UserQuestions;
    var EA = Model.ExpertAnswers;
}

<style>

    #wait {
        display:none;
        width:80%;
        text-align:center;
        margin:50px;
    }

</style>

<h2>ExpertAnser</h2>


@foreach (var item in UQ)
{

    <div class="btn btn-link card-header list-group-item list-group-item-action list-group-item-info Question" data-value=@item.UserQuestionID style="width:80%; margin:0 auto 10px auto;  padding:10px;">
        <span style="font-size:20px; font-weight:900;">問題 :</span>
        <span style="font-size:20px;">@item.QuestionContent</span>
        <span style="font-size:15px; ">@item.QuestionTime</span>

        <div class="card-body" id="card-body">

            @foreach (var a in EA)
            {

                <div class="card Question-info">
                    @if (a.QuestionID == item.UserQuestionID)
                    {
                        <span style="font-size:20px; font-weight:900; margin:5px 0 0 5px;">專家 @a.UserManage.UserName</span>
                        <span style="font-size:18px; margin:5px 0 0 5px;">@a.AnswerContent</span>
                        <span style="font-size: 15px; margin: 5px 0 0 5px;">@a.AnswerTime</span>
                    }
                </div>
            }

            <div id="wait">
                <div class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div style="white-space:nowrap;">
                <input class="form-control context" style="width:90%; height:40px; margin-top:20px;" placeholder="專家輸入欄" value="">
                <input type="hidden" class="userQuestionID" value="@item.UserQuestionID">
                <button class="form-control submit-btn" type="submit" style="width:5%; height:40px; margin-top:20px; background-color:transparent; border:none;"><img src="~/ICON/send-fill.svg"></button>
            </div>




        </div>
    </div>

}


    <div style="text-align:center;">
        @Html.PagedListPager(Model.UserQuestions, page => Url.Action("ExpertAnser",
        new { page }))
    </div>

<script>


    $(document).ready(function () {

        //初始化
        $(".Question-info").hide();
        var $waitElement = "";

        $(".Question").click(function () {

            var $cardBody = $(this).find('.card-body');

            $(".card-body").css({

                'height': 'fit-content'

            })

            $cardBody.css({

                'height': '500px',
                'overflow-y':'scroll'

            })

            //先將所有關閉
            $(".Question-info").hide();
            //在打開需要的欄位
            $(this).find(".Question-info").toggle();


        });

        //Ajax 動畫

        $(document).ajaxStart(function () {
            console.log("出現");
            $waitElement.css("display", "block");
        });
        $(document).ajaxComplete(function () {
            $waitElement.css("display", "none");
        });




        $(".submit-btn").click(function () {

            
            //找到這個欄位的wait id
            $waitElement = $(this).closest(".Question").find("#wait");
            var input = $(this).siblings(".context");
            var inputValue = input.val();
            input.val("");
            var data = inputValue;

            var userQuestionID = $(this).siblings(".userQuestionID").val();


            if (inputValue !== "") {

                $.ajax({

                    url: '@Url.Action("SendAnser", "ExpertAnser")',
                    type: "post",
                    data: { AnserContext: inputValue, QuestionID: userQuestionID },
                    success: function (result) {
                        alert("成功");
                    },
                    error: function () {
                        alert("失敗");
                    }

                });


            }



        });


    });



</script>