@model postArticle.viewmodel.ArticleDetailsViewModel
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var article = Model.article;
    ViewBag.Title = Model.article.Title;
    var messages = Model.messages;
    int UserID = 0;
    int ArticleID = article.ArticleID;
    var getRM = Model.RM;

    if (Session["UserID"] != null)
    {
        UserID = (int)Session["UserID"];
    }
}

<style>
    /* 弹出层的内容样式 */
    .row {
        margin-top: 60px;
    }

    .popup-overlay form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    /* 覆盖整个网页 */
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色，可以根据需要调整透明度 */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999; /* 确保弹出层在其他元素之上 */
    }

    body {
        background-color: #DBF0D0;
        font-family: Arial, sans-serif;
    }

    .article-container {
        max-width: 2000px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
    }

    .article-title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .article-author {
        font-size: 16px;
        color: #888;
        margin-bottom: 10px;
    }

    .article-content {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .article-image {
        display: flex;
        justify-content: center;
    }

        .article-image img {
            max-width: 70%;
            height: auto;
            margin-bottom: 20px;
        }

    .article-time {
        margin-left: auto;
        font-size: 14px;
        color: #888;
        margin-bottom: 10px;
    }

    .comments-container {
        padding-top: 20px;
        background-color: #fff
    }

    .comment-item {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
    }

    #comment {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .comment-header {
        margin-bottom: 10px;
        font-weight: bold;
    }

    .comment-content {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .comment-info {
        font-size: 14px;
        color: #888;
    }

    .add-comment-button {
        text-align: right;
        margin-top: 20px;
    }

    .add-comment-button button {
            padding: 10px 20px;
            background-color: #97CD7D;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            }

            
    .add-comment-button button:hover,        
    .add-comment-button button:focus 
    {            
        background-color: #2f863a;    
        }



    /*reportArticle css */

    .report_view {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色，可以根据需要调整透明度 */
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .report_alert {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: azure;
        width: 40%;
        height: 30%;
        z-index: 4;
        transform: translate(-50%,-50%); /*畫面至中*/
        border-radius: 4px;
    }

    .report_alert button .report_cancel {
            position: absolute;
            bottom: 0;
        }


    /*reportms css*/

    .reportms_view {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* 半透明背景色，可以根据需要调整透明度 */
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .reportms_alert {
        position: absolute;
        left: 50%;
        top: 50%;
        background-color: azure;
        width: 40%;
        height: 30%;
        z-index: 4;
        transform: translate(-50%,-50%); /*畫面至中*/
        border-radius: 4px;
    }

    .reportms_alert button .reportms_cancel {
        position: absolute;
        bottom: 0;
    }


    .remove_message{
        opacity: 0.5;
        font-style: italic;
    }


</style>


<hr />

<div>
    <div class="row  article-container">
        <h2 class=" col-sm-10  article-title">@Html.DisplayFor(model => article.Title)</h2>

        @if (Model.isUser)
        {
            <div class="col-sm-2 justify-content-end">
                @if (!Model.IsCollect)
                {
                    <button class="btn bi-star-fill" style="float:right" onclick="handleCollect('@Url.Action("ArticleCollect", new { id = article.ArticleID })', '@Model.Page', '收藏')">收藏</button>
                }
                else
                {
                    <button class="btn bi-star-fill" onclick="handleCollect('@Url.Action("CancelCollect", new { id = article.ArticleID })', '@Model.Page', '取消收藏')">取消收藏</button>
                }
            </div>



        }


        <p class="article-author">Author: @Html.DisplayFor(model => article.UserManage.UserName)</p>
        <div class="article-content">
            @Html.Raw(Model.article.Content)

            <div class="article-image  ">
                <img src="~/Uploads/@Html.DisplayFor(model => article.ImageURL)" alt="Article Image">
            </div>
            <p class="article-time">@Html.DisplayFor(model => article.Time)</p>
            @if (Model.isCreatedByUser)
            {
                <button class="btn bi-star-fill" onclick="ArticleManage('@Url.Action("ArticleEdit")','@Model.article.ArticleID','編輯')">
                    編輯文章
                </button>
                <button class="btn bi-star-fill" onclick="ArticleManage('@Url.Action("ArticleDelete")','@Model.article.ArticleID','刪除')">
                    刪除文章
                </button>
            }
            else if (Model.isUser)
            {
                <button class="btn bi-star-fill report">檢舉文章</button>
            }


        </div>

        <div class="col-xl comments-container">
            <h4 id="comment">留言</h4>
            @foreach (var item in messages)
            {
                <div class="comment-item">

                    <div class="comment-header">
                        @if (Model.isUser && UserID != item.UserID)
                        {
                            @Html.DisplayFor(modelItem => item.UserManage.UserName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.UserManage.UserName)
                        }
                    </div>

                    @if (item.Status == 0)
                    {
                        <div class="comment-content">
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                    }

                    else { 
                        <div class="comment-content">
                        <p class="remove_message">此訊息已被移除</p>
                    </div>
                    
                    }

                    <div class="comment-info">
                        @Html.DisplayFor(modelItem => item.Time)
                    </div>

                    <div>
                        @if (Model.isUser && UserID != item.UserID &&item.Status==0)
                        {
                            if (!getRM.Any(i => i.Message_ID == item.MessageID))
                            {
                                <button class="ms_report" id="ms_report" value="@item.MessageID">檢舉</button>
                            }
                            else
                            {
                                <button>已檢舉成功</button>
                            }

                        }
                        else
                        {

                        }
                    </div>

                </div>
            }

        </div>

        @if (Model.isUser)
        {
            <div class="add-comment-button">
                <button onclick="openPopup()">新增留言</button>
            </div>
        }
    </div>

</div>




<!--檢舉文章視窗-->
<div class="report_view">
    <div class="report_alert">


        <form method="post">
            @Html.Label("不實文章")
            <input type="checkbox" name="report" value="不實文章">
            <br>
            @Html.Label("不當發言")
            <input type="checkbox" name="report" value="不當發言">
            <br>
            @Html.Label("謾罵字眼")
            <input type="checkbox" name="report" value="謾罵字眼">
            <br>
            @Html.Label("其他")
            <br>
            @Html.TextArea("report_other", new { placeholder = "請輸入想要檢舉內容(限制字數50字)", maxlength = "50", @style = "width:50%; high:50%; resize:none;" })

            <button class="report_cancel btn btn-danger">取消</button>
            <button class="report_submit btn btn-success">送出</button>

        </form>
    </div>
</div>

<div id="report_item"></div>

<!--檢舉留言視窗-->
<!--檢舉視窗-->
<div class="reportms_view">
    <div class="reportms_alert">


        <form method="post">
            <input type="checkbox" name="reportms" value="不雅字眼">
            @Html.Label("不雅字眼")
            <br>
            <input type="checkbox" name="reportms" value="恐嚇字詞">
            @Html.Label("恐嚇字詞")
            <br>
            <input type="checkbox" name="reportms" value="不當發言">
            @Html.Label("不當發言")
            <br>
            @Html.Label("其他")
            <br>
            @Html.TextArea("reportms_other", new { placeholder = "請輸入想要檢舉內容(限制字數50字)", maxlength = "50", @style = "width:50%; high:50%; resize:none;" })

            <button class="reportms_cancel btn btn-danger">取消</button>
            <button class="reportms_submit btn btn-success">送出</button>
            <span id="result"></span>

        </form>
    </div>
</div>

<div id="report_item"></div>










<!-- 顯示留言的部分檢視區塊 -->
@*@Html.Partial("MessageSection", Model)*@
@Html.PagedListPager(Model.messages, page => Url.Action("ArticleDetails", new { id = Model.article.ArticleID, page }))



<div id="messagePopup" style="display:@Model.Display" class="popup-overlay">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "SendMessage" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2", style = "color:#fff" })
        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Display)

        <button class="btn btn-success" type="submit">確定</button>
        <button class="btn btn-danger" type="button" onclick="closePopup()">取消</button>
    }
</div>

<div>
    <button class="btn " style="background-color: #6eb465; color:white" type="button" onclick="location.href='@Url.Action("ArticleIndex", "Home")'">返回首頁</button>
</div>


<script>
			function handleCollect(url, page, action) {
				var result = confirm("是否" + action + "此文章？");
				if (result) {
					var redirectUrl = url + '?page=' + encodeURIComponent(page);
					makeAjaxRequest(redirectUrl, null);
				}
			}

    function openPopup() {
        document.getElementById("messagePopup").style.display = "block";
    }

    function closePopup() {
        document.getElementById("messagePopup").style.display = "none";
    }

    $(document).ready(function() {
            $('#SendMessage').submit(function(event) {
                event.preventDefault(); // 阻止表單的默認提交行為
                var redirectUrl = '@Url.Action("CreateMessage", "MessageManage")' +'?id='+ encodeURIComponent('@Model.article.ArticleID')+ '&page=' + encodeURIComponent('@Model.Page');
                var formData = $(this).serialize();
               // 使用 AJAX 發送 POST 請求
                makeAjaxRequest(redirectUrl, formData);
            });
     });

    function ArticleManage(url, id, action) {
        var redirectUrl = url + '?id=' + encodeURIComponent(id);
        if (action == "刪除") {
            var result = confirm("是否" + action + "此文章？");

            if (result) {
                makeAjaxRequest(redirectUrl, null);
            }
        }
        else {
            window.location.href = redirectUrl;
        }
    }


     //點擊檢舉按鈕
    $(".report").click(function () {
        $(".report_view").fadeIn("fast")
        $("body").css("overflow", "hidden")
    })
    //點擊檢舉取消按鈕
    $(".report_cancel").click(function () {
        $(".report_view").fadeOut("fast")
        $("body").css("overflow", "visible")

    })
    //點擊送出按鈕
    $(".report_submit").click(function () {


        $.ajax({
            type: 'POST',
            url: "/ArticleManage/ReportArticle",
            data: { Context: report(), ID:@UserID , ArticleID:@ArticleID},
            success: function () { alert("成功") },
            error: function () { alert("失敗") }
        });

    });

    //點擊檢舉留言按鈕
    var msid = 0;
    $(".ms_report").click(function () {

        msid = $(this).val();

        $("body").css("display", "block")
        $(".reportms_view").css("display", "block");

    });

    $(".reportms_cancel").click(function () {

        $("body").css("display", "none")
        $(".reportms_view").css("display", "none");

    });

    $(".reportms_submit").click(function () {

        $.ajax({

            url: '@Url.Action("ReportMessage", "ArticleManage")',
            type: "post",
            data: { MSID: msid, USERID: @UserID, CONTEXT: msreport() },
            success: function (result) {
                alert("成功");
            },
            error: function () {

            }
            

        });

    });

    


    //將檢舉文章內容整理成字串
     function report() {
        var reportname = document.forms[0];
        var reportadd = document.getElementById("report_other");
        var txt = "";
        for (var i = 0; i < reportname.length; i++) {
            if (reportname[i].checked) {
                txt = txt + reportname[i].value +"  ";
            }
        }
         txt = txt + reportadd.value;
         return txt;
    };


    //將檢舉留言內容整理成字串
    function msreport() {

        var reportadd = document.getElementById("reportms_other");
        var txt = "";

        const checkboxes = document.querySelectorAll('input[name="reportms"]:checked');
        const selectedValues = Array.from(checkboxes).map(checkbox => checkbox.value);
        if (selectedValues.length > 0) {
            txt= selectedValues.join(", ")
        }

        txt += ","+reportadd.value;
        return txt;
    };




</script>







