@using postArticle.Models;

@model postArticle.viewmodel.RAViewModel


@{
    ViewBag.Title = "ArticleReview";
    ViewBag.Sussess ="";

}



<style>

    .article-image {
        position: relative;
    }


        .article-image img {
            width: 50%;
            height: 50%;
        }

    input:checked + label {
        background-color: #65f962;
    }
</style>



<h2>管理員文章檢視</h2>
<br>
<br>
<hr>



<!--檢舉ID-->
<p>檢舉ID :@Model.ReportID</p>
<!--檢舉人ID-->
<p>檢舉人ID :@Model.RU_ID</p>
<!--被檢舉人ID-->
<p>檢舉人ID :@Model.RdU</p>
<!--被檢舉文章ID-->
<p>被檢舉文章ID :@Model.RA</p>
<p id="Div_Browser"></p>


<h2>@Model.Title</h2>
<h5>@Model.Content</h5>

<div class="article-image" style="text-align:center;">
    <img src="~/Uploads/@Model.ImageURL">
</div>




<form method="post"> 
    <div>@Model.ReportContent</div>
    <input class="contentbtn " id="pass" type="radio" name="report" value="檢舉通過" style="display:none;">
    <label class="btn btn-outline-primary" for="pass">檢舉通過</label>
    <input class="contentbtn " id="nopass" type="radio" name="report" value="檢舉未通過" style="display:none;">
    <label class="btn btn-outline-primary" for="nopass">檢舉未通過</label>

    <div style="text-align:center; margin-top:30px;">
        <button class="btn btn-light">返回</button>
        <button class="btn btn-danger" id="submit">送出</button>
    </div>
</form>



<script>

    $(document).ready(function () {


        $("#submit").click(function() {


            var contentbtn = $('input[name="report"]:checked').val();


            $.ajax({

                url: '@Url.Action("RRA", "Manager")',

                type: 'POST',

                data: { Report_ID: @Model.ReportID, RU_ID: @Model.RU_ID, RA: @Model.RA, Report_Content: contentbtn },


                success: function (data) {

                    if (data.success) {
                        alert("成功");

                      

                    }

                    else {

                        alert("失敗");

                    }


                },

                error: function () {

                    alert("傳輸失敗");

                }



            });

         });

     });

</script> 
    
    