@model postArticle.Models.ExpertApply

@{
    ViewBag.Title = "DeleteExpert";
}

<h2>Delete</h2>

<div>
    <h4>ExpertApply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpertField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertField)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertImgURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertImgURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserManage.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserManage.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteExpert" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
