
@model IEnumerable<postArticle.Models.ExpertApply>

@{
    ViewBag.Title = "ExpertDetail";
}
<style>

    th {
        width: 100px;
    }

    tr {
        height: 50px;
    }

    td {
        vertical-align: middle;
    }

    .container-panel{
        margin-top:85px;
        width:100%;
        height:100vh;
    }   

</style>



<div class="container-panel">
<p>
    <h3>專家申請名單</h3>
</p>
<table class="table">
    <tr>
        <th>
            <p>類型</p>
        </th>
        <th>
            <p>個人簡介</p>
        </th>
        <th>
            <p>審查狀態</p>
        </th>
        <th>
            <p>證明文件</p>
        </th>
        <th>
            <p>備註</p>
        </th>
        <th>
            <p>申請人</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpertImgURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserManage.UserName)
            </td>
            <td>
                @Html.ActionLink("審核", "CheckExpert", new { id = item.ExpertApplyID }, new { @class = "btn btn-primary", @style = "margin-right:10px; " })
                <a href="@Url.Action("DeleteExpert")?Id=@item.ExpertApplyID" onclick="return confirm('確定刪除?');" class="btn btn-danger">刪除</a>

            </td>
        </tr>
    }

</table>
    </div>
