@model postArticle.viewmodel.ReportViewModel


@{
    ViewBag.Title = "檢舉";
    var RA = Model.RA;
    var RM = Model.RM;
}

<style>

    thead {
        background-color: aquamarine;
    }

    td {
        height: 30px;
        border: solid;
        font-size: 20px;
        text-align: center;
    }

    .report_article {
        display: none;
    }

    .container_panel {
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .report_member{
        display: none;
    }
    .report_article {
        display: none;
    }


    .btn-click {
        border-radius:5px; 
        border:none;
        height:80%;
        width:80%; 
        margin:auto; 
        display:flex; 
        align-content:center;
    }

    .custom-link {
        text-decoration: none; /* Remove the default underline */
    }

    a:-webkit-any-link {
        text-decoration:none;
    
    }


</style>




<div header_panel style="margin-top: 60px; text-align:center;">


        <button class="btn_reportmember">留言檢舉</button>
        <button class="btn_reportarticle">文章檢舉</button>
        <!--排序-->
    @*    
    @Html.ActionLink("文章排序由小至大", "Report", new { sort = "ID由小至大" })
    *@
</div>



<div class="container_panel">
    <!---->
    <table class="report_article">
        <thead>
            <tr>
                <td><h4>Report_ID</h4></td>
                <td><h4>UserID</h4></td>
                <td><h4>ArticleID</h4></td>
                <td><h4>ReportContent</h4></td>
                <td><button class="btn-click"></button></td>
                <td><button class="btn-click"></button></td>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in RA)
            {

                if (item.Status == 0)
                {

                    <tr>
                        <td>@item.Report_ID</td>
                        <td>@item.UserID</td>
                        <td>@item.ArticleID</td>
                        <td>@item.ReportContent</td>
                        <td>@Html.ActionLink("審查文章", "ArticleReview", new { id = item.ArticleID, RID = item.Report_ID }, new { title = "前往審查文章" })</td>
                        <td><button class="deleteRA-button" value="@item.Report_ID">刪除</button></td>

                    </tr>


                }
            }
        </tbody>
    </table>

    <!---->
    <table class="report_member">
        <thead>
            <tr>
                <td><h4>MessageID</h4></td>
                <td><h4>UserID</h4></td>
                <td><h4>Context</h4></td>
                <td><h4>Status</h4></td>
                <td><button class="btn-click"></button></td>
                <td><button class="btn-click"></button></td>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in RM)
            {
            <tr>
                <td>@item.Message_ID</td>
                <td>@item.User_ID</td>
                <td>@item.Content</td>
                <td>@item.Status</td>
                <td>@Html.ActionLink("審查", "MSReview", new { id = item.MS_ID }, new { title = "前往審查文章" })</td>
                <td><button class="deleteRM-button" value=@Html.Raw(HttpUtility.HtmlEncode(item.MS_ID))>刪除</button></td>
            </tr>
            }
        </tbody>
    </table>

</div>

<script>


    $(document).ready(function ()
    {

        $(".btn_reportmember").click(function () {
            $(".report_member").css('display', 'block');
            $(".report_article").css('display', 'none');
        });


        $(".btn_reportarticle").click(function () {
            $(".report_member").css('display', 'none');
            $(".report_article").css('display', 'block');
        });


    $(document).on('click', '.deleteRA-button', function () {
        var Reportid = $(this).val();
        var $button = $(this);
        $.ajax({
            url: '@Url.Action("Delete_RA", "Manager")',
            type: 'POST',
            data: { id: Reportid },
            success: function (data) {
                if (data.success) {

                    $button.closest("tr").remove();

                    alert("刪除成功");

                } else {
                    alert('删除失败');
                }
            },
            error: function () {
                alert('請求失敗');
            }
        });
    });

    $(document).on('click', '.deleteRM-button', function () {
        var Reportid = $(this).val();
        var $button = $(this);
        $.ajax({
            url: '@Url.Action("Delete_RM", "Manager")',
            type: 'POST',
            data: { id: Reportid },
            success: function (data) {
                if (data.success) {

                    $button.closest("tr").remove();

                    alert("刪除成功");

                } else {
                    alert('删除失败');
                }
            },
            error: function () {
                alert('請求失敗');
            }
        });
    });


    });







</script>