@using postArticle.Models;
@model IEnumerable<UserManage>

@{
    ViewBag.Title = "UserMange";
}

<style>

    table {
    
        margin:auto;
    
    }

    thead {
        background-color: aquamarine;
    }

    th {
        height: 30px;
        border: solid;
        font-size: 20px;
        text-align: center;
    }

    .search_member {
        width: 300px;
        
    }

    .panel_container{
        position:relative;
        top: 70px;
        height: 100%;
    }

</style>


<div class="panel_container">
@using (Html.BeginForm("UserMange", "Manager", FormMethod.Get))

{
        @Html.TextBox("search", null,new { @class="form-control search_member" ,  @placeholder="查詢" })

              
}
<br>
<table border="1">

    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.UserID)</th>
            <th>@Html.DisplayNameFor(m => m.UserName)</th>
            <th>@Html.DisplayNameFor(m => m.Account)</th>
            <th>@Html.DisplayNameFor(m => m.Birthday)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>@Html.DisplayNameFor(m => m.UserType)</th>
            <th>@Html.DisplayNameFor(m => m.LevelValue)</th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
            <th style="width:80px;">封鎖</th>
            <th style="width:80px;">修改</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.UserID</th>
                <th>@item.UserName</th>
                <th>@item.Account</th>
                <th>@item.Birthday.ToString("M")</th>
                <th>@item.Email</th>
                <th>@item.UserType</th>
                <th>@item.LevelValue</th>
                
                @if (item.Status == 0)
                {
                    <th>否</th>
                }
                else
                {
                    <th>是</th>
                }


                @if (item.Status == 0)
                {
                    <th>@Html.ActionLink("封鎖", "Lock", new { id = item.UserID }, new { @class = "btn btn-outline-danger" })</th>
                }
                else { 
                    <th>@Html.ActionLink("已封鎖", "Unlock", new { id = item.UserID }, new { @class = "btn btn-outline-danger" })</th>
                }
                
                <th>@Html.ActionLink("修改", "Resize", new { id = item.UserID }, new { @class = "btn btn-outline-success" })</th>
            </tr>
        }
    </tbody>
</table>


</div>