@model List<postArticle.Models.ExpertApply>

@{
    ViewBag.Title = "Index";
}

<style>
    dd {
        font-size: 20px
    }

    dt {
        font-size: 20px
    }
</style>

<div style="width:100%; margin-top: 50px;">

    @if (Model.Count() < 1)
{

    <div style="text-align:center;">
       
        @Html.ActionLink("點這申請成為專家", "Apply", "Expert")
    </div>

}

    @foreach (var item in Model)
{
    <div>
        <h1 style="text-align:center;">專家申請</h1>
        <br />
        <h3 style="text-align:center;">審核結果</h3>
        <hr />
        <dl class="dl-horizontal" style="margin-left:42%;">
            <dt>
                專業領域
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ExpertField)
            </dd>

            <dt style="font-size: 20px;">
                個人簡介
            </dt>
            <dd style="font-size: 20px;">
                @Html.DisplayFor(model => item.ExpertInfo)
            </dd>

            <dt>
                審查狀態
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Status)
            </dd>

            <dt>
                證明文件
            </dt>
            <dd>
                @Html.DisplayFor(model => item.ExpertImgURL)
            </dd>

            <dt>
                備註
            </dt>
            <dd>
                @Html.DisplayFor(model => item.Remark)
            </dd>
        </dl>
    </div>
    <p style="text-align:center;">
        @Html.ActionLink("資料修改", "Edit", new { id = item.ExpertApplyID }, new { @class = "btn btn-success" })

    </p>
}

    </div>