@using postArticle.Models
@model postArticle.viewmodel.ChatMemberViewModel




@{
    ViewBag.Title = "Charmember";
    var UserID = Model.UserID;
    var UserName = Model.UserName;
    var Expert = Model.Expert;
    var SearchMember = Model.SearchMember;
    var Friend = Model.ChatRoom;
    var SearchMemberChatRoom = Model.SMChatRoom;
    var ExpertMemberChatRoom = Model.EChatRoom;
}



<style>

    body {
        background-color: #DBF0D0;
    }

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
    }


    .Expert {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
        margin-right: 25px;
    }

    .box {
        width: 90%;
        height: fit-content;
        border-radius: 20px;
        overflow-x: scroll;
        white-space: nowrap;
        overflow-y: hidden;
    }
        /* 軌道大小和顏色設定*/
        .box::-webkit-scrollbar {
            width: 10px;
        }

        /* 滑動條顏色 */
        .box::-webkit-scrollbar-thumb {
            background: #93bc44;
            border-radius: 5px;
        }

    .search_member{

        display:flex;
        margin-top:70px;
        align-content:center;
        justify-content:center;
    }



</style>


@using (Html.BeginForm("Charmember", "CharRoom", FormMethod.Get))
{
    <p class="search_member">
        <input class="form-control" style="width:50%;" type="text" name="searchString" placeholder="搜尋使用者">
        <input type="submit" class="btn btn-primary" style="margin-left:10px; width:80px;" value="查詢" />
    </p>
}



<div class="box">


    @if (SearchMember != null)
    {

        <p style="font-size: 30px; font-family: Georgia, serif;">搜尋</p>
        <hr>


        foreach (var item in SearchMember)
        {

            int chatroomid = 0;
            int otherid = item.UserID;
            foreach (var room in SearchMemberChatRoom)
            {
                if (room.UserID == item.UserID || room.OtherUserID == item.UserID)
                {
                    chatroomid = room.ChatroomID;
                }
            }


            <div style="width:150px; margin-left:20px; display:inline-block; ">
                <a class="Expert" title="會員: @item.UserName @chatroomid" value="@chatroomid" onclick="IsChatroom(@otherid, @chatroomid)"><img src="~/Uploads/Expert.png"></a>
                <p style="text-align:center; font-size:20px; font-weight:bolder;">@item.UserName</p>
            </div>

        }

    }


</div>



<p style="font-size: 30px; font-family: Georgia, serif;">專家</p>
<hr>



<div class="box">

    @foreach (var item in Expert)
    {

        int chatroomid = 0;
        int ExpertID = 0;

        if (item.UserType == "Expert")
        {

            //Expert ID
            ExpertID = item.UserID;

            foreach (var er in ExpertMemberChatRoom)
            {
                if (er.UserID == item.UserID || er.OtherUserID == item.UserID)
                {
                    chatroomid = er.ChatroomID;
                }
            }


            <div style="width:150px; margin-left:20px; display:inline-block; ">
                    <a class="Expert Room" title="專家: @item.UserName" value="" onclick="IsChatroom(@ExpertID ,@chatroomid)"><img src="~/Uploads/Expert.png"></a>
                    <p style="text-align:center; font-size:20px; font-weight:bolder;">@item.UserName</p>
            </div>
           
        }

    }


</div>



<p style="font-size: 30px; font-family: Georgia, serif;">好友</p>
<hr>

<div class="box">


    @foreach (var item in Friend)
    {

        string name = item.ChatRoomName;
        string removename = name.Replace("/", "");
        removename = removename.Replace("的私聊", "");
        removename = removename.Replace(UserName, "");


        var title = item.ChatRoomName;

        <div style="width:150px; margin-left:20px; display:inline-block; ">
            <a class="Expert Room" title="專家: @removename" value="" onclick="IsChatroom(0,@item.ChatroomID)"><img src="~/Uploads/Expert.png"></a>
            <p style="text-align:center; font-size:20px; font-weight:bolder;">@removename</p>
        </div>


    }

</div>
<hr>

<script>



        function IsChatroom(expertid, id) {


            if (id == 0) {

                if (confirm("沒有房間，是否創建房間")) {

                    window.location.href = '@Url.Action("CreatChatRoom" , "CharRoom")/' + expertid;

                }

                else {
                }
            }

        else {

                if (confirm("是否要進入聊天室")) {
                    window.location.href = '@Url.Action("ChatRoom", "CharRoom")/' + id;
                }

                else {
                }
            }
        }




</script>

