@using postArticle.Models
@model postArticle.viewmodel.ChatMemberViewModel




@{
    ViewBag.Title = "Charmember";
    var UserID = Model.UserID;
    var Expert = Model.Expert;
    var SearchMember = Model.SearchMember;
    var Friend = Model.ChatRoom;
    var SearchMemberChatRoom = Model.SMChatRoom;
    var ExpertMemberChatRoom = Model.EChatRoom;
}



<style>

    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
    }


    .Expert {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: none;
        margin-right: 25px;
    }

    .box {
        width: 90%;
        height: 150px;
        border-radius: 20px;
        overflow-x:scroll;
        white-space:nowrap;
        overflow-y:hidden;
        
    }
</style>




<h2>聊天室</h2>



@using (Html.BeginForm("Charmember", "CharRoom", FormMethod.Get))
{
    <p>
        <input type="text" name="searchString" placeholder="搜尋使用者">
        <input type="submit" value="查詢" />
    </p>
}





<h2>Search</h2>
<hr>

<div class="box">


    @if (SearchMember != null)
                {
                    foreach (var item in SearchMember)
                    {

                        int chatroomid= 0;
                        foreach(var room in SearchMemberChatRoom)
                        {
                               if(room.UserID ==item.UserID ||room.OtherUserID == item.UserID)
                                {
                                    chatroomid = room.ChatroomID;
                                }
                        }

                             <a class="Expert" title="會員: @item.UserName @chatroomid" value="@chatroomid" onclick="IsChatroom(@chatroomid)"><img src="~/Uploads/Expert.png"></a>


    }

    }


</div>



<h2>Expert</h2>
<hr>



<div class="box">

    @foreach (var item in Expert)
                {

                    int chatroomid = 0;

                    if (item.UserType == "Expert")
                    {

                        foreach(var er in ExpertMemberChatRoom)
                        {
                            if(er.UserID ==item.UserID ||er.OtherUserID == item.UserID)
                            {
                                chatroomid = er.ChatroomID;
                            }
                        }

            <a class="Expert Room" title="專家: @item.UserName @item.UserID" value="@item.UserID" onclick="IsChatroom(@chatroomid)"><img src="~/Uploads/Expert.png"></a>
        }
    }


</div>



<h2>Friends</h2>
<hr>

<div class="box">


    @foreach (var item in Friend)
    {


        var title = item.ChatRoomName;

        <a class="Expert" title="@title" value=@item.ChatroomID onclick="IsChatroom(@item.ChatroomID)"><img src="~/Uploads/Expert.png"></a>


    }

</div>


<hr>


<script>

    function IsChatroom(id) {



        if (id == 0) {

            if (confirm("沒有房間，是否創建房間")) {
                window.location.href = '@Url.Action("CreatChatRoom", "CharRoom")';
            }
            else {
            }
        }
        else {

           if (confirm("是否要進入聊天室")) {
                window.location.href = '@Url.Action("ChatRoom", "CharRoom")/' + id;
           }
           else {
            }

        }
    }

</script>

