@using postArticle.viewmodel
@model postArticle.viewmodel.ChatRoomViewModel

@{
    var context = Model.ChatContext;
    var MainUserID = Model.MainUserID;
    var UserName = Model.UserName;
    var ChatRoom = Model.ChatRooms;
    var Friend = Model.ChatRoom;
    var ChatRoomID = Model.ChatRoomID;
    var UserManage = Model.UserMange;
    int OtherID = 0;
}


@{
    foreach (var i in ChatRoom)
    {

        if (i.UserID == MainUserID)
        {
            OtherID = (int)i.OtherUserID;
        }
        else
        {
            OtherID = (int)i.UserID;
        }
    }

    <p>@OtherID</p>

    var otherdb = UserManage.Where(m => m.UserID == OtherID);
    string othername = "";
    foreach (var a in otherdb)
    {
        othername = a.UserName;
    }

}








<style>
    body {
        background-color: #DBF0D0;
    }

    .window_content {
        position: relative;
        top: 20px;
        width: 100%;
        height: 100vh;
        column-count: 2;
        margin: auto;
        border-radius: 10px;
        background-color: #c9ffb0;
    }

    .window_content2 {
        display:none;
    }

    .container01 {
        position: relative;
        left: 5%;
        margin-top: 20px;
        width: 60%;
        height: 90%;
        background-color: red;
        border-radius: 10px;
        overflow: hidden;
    }

        .container01:hover {
            overflow: scroll;
        }

    .container02 {
        position: relative;
        margin-top: 20%;
        right: 35%;
        width: 130%;
        height: 100%;
        overflow: scroll;
    }

    .container02_context {
        width: 100%;
        height: 76%;
        border-radius: 10px;
        background-color: aquamarine;
        overflow: hidden;
    }

        .container02_context:hover {
            overflow: scroll;
        }

    .container02_header {
        position: relative;
        font-size: 30px;
        font-weight: bolder;
        top: 20px;
    }

    .container02_context {
        position: relative;
        top: 20px;
    }

    .container02_footer {
        display: inline-block;
        position: relative;
        top: 30px;
        width: 100%;
        padding-left: 5%;
        padding-top: 10px;
    }

    .input_message {
        width: 80%;
        border-radius: 5px;
    }

    .submit_message {
        width: 10px;

    }

    .member_list {
        position: relative;
        margin-left: 4.5%;
        margin-top: 15px;
        top: 25px;
        width: 90%;
        border-radius: 10px;
        border: none;
        height: 100px;
        background-color: aliceblue;
    }

    .content-left-context {
        margin-left: 5%;
        margin-top: 20px;
        width: 40%;
        /*height:100px;*/
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        background-color: antiquewhite;
    }

    .content-right-context {
        position: relative;
        right: -52%;
        margin-left: 5%;
        margin-top: 20px;
        width: 40%;
        /*height:100px;*/
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        background-color: antiquewhite;
    }


    .content-name {
        font-size: 25px;
        font-weight: bolder;
    }

    .content-time {
        direction: rtl;
    }




    .container01::-webkit-scrollbar {
        display: none;
    }

    .container02::-webkit-scrollbar {
        display: none;
    }

    .container02_context::-webkit-scrollbar {
        display: none;
    }


    .box {
        width:100%; 
        height:80px; 
        margin-top:20px;
        background-color:transparent; 
        white-space:nowrap; 
        overflow-x:scroll;
        overflow-y:hidden;
        border-radius:10px;
        display:none;
    }

    /* 軌道大小和顏色設定*/
    .box::-webkit-scrollbar {
        width: 10px;
    }

    /* 滑動條顏色 */
    .box::-webkit-scrollbar-thumb {
        background: #93bc44;
        border-radius: 5px;
    }


    @@media screen and (max-width: 798px) {
    
        .window_content{
            display: none;
        }
        .window_content2{
            display:block;
        }

     }

</style>


<!--////////////////////////////////////-->

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert('@TempData["ErrorMessage"]');
    </script>
}



<!--////////////////////////////////////-->



<div style="width:70px; margin-top:40px;">@Html.ActionLink("返回", "javascript:void(0);", null, new { onclick = "history.back(); return false;", @class = "form-control", style = "text-decoration: none; color: black; font-size: 20px;" })</div>

<div class="window_content">

    <div class="container01">


        @foreach (var i in Friend)
        {
            var friendname = i.ChatRoomName;
            var removename = friendname.Replace("/", "");
            removename = removename.Replace(UserName, "");
            removename = removename.Replace("的私聊", "");
            <div><button class="member_list" onclick="location.href = '@Url.Action("ChatRoom", "CharRoom", new { id= i.ChatroomID})'">@removename</button></div>

        }


    </div>

    <div class="container02">

        <div class="container02_header">你/ @othername 的聊天室</div>
        <div class="container02_context" id="container_context">


            <h2 style="text-align:center; margin-top: 30px; margin-bottom: 30px;">開始聊天</h2>


            @foreach (var i in context)
            {

                if (@i.UserID == MainUserID)
                {

                    <div class="content-right-context">

                        <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                        <div>
                            <p style="word-wrap: break-word;">
                                @i.Content
                            </p>
                        </div>

                        <div class="content-time"><p>@i.Time</p></div>
                    </div>
                }


                else
                {
                    <div class="content-left-context">

                        <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                        <div>
                            <p style="word-wrap:break-word;">
                                @i.Content
                            </p>
                        </div>

                        <div class="content-time"><p>@i.Time</p></div>
                    </div>

                }
            }

        </div>


        <div class="container02_footer">

            <input class="input_message" placeholder="請輸入要傳入訊息">
            <button class="submit_message" style="border:none; background-color:transparent;"><img src="~/ICON/send-fill.svg"></button>

        </div>

    </div>


</div>


<div class="window_content2">

        <button class="friend-btn" style="width:100%; height:50px; text-align:center; background-color:aliceblue; border-radius:10px; margin-top:30px; border: none;">查看好友</button>
        <div class="box">


            @foreach (var i in Friend)
            {
                var friendname = i.ChatRoomName;
                var removename = friendname.Replace("/", "");
                removename = removename.Replace(UserName, "");
                removename = removename.Replace("的私聊", "");


                <div style="width:50px; height:50px; display:inline-block;">
                    <a style="background-color:antiquewhite; border-radius:100%;" onclick="location.href = '@Url.Action("ChatRoom", "CharRoom", new { id= i.ChatroomID})'"><img style="width:50px; height:50px;" src="~/Uploads/Expert.png"></a>
                    <p style="text-align:center; font-size:10px;">@removename</p>
                    </div>


                    }



                </div>

                <div style="font-size:30px; font-weight:bolder; text-align:center; margin-top:50px;">你/ @othername 的聊天室</div>

                <div style="width:100%; height:100vh; margin-top:30px; border-radius:10px;">

                    <div id="min-view" style="width:100%; height:90%; background-color:brown; overflow-y:scroll; overflow-x:hidden;">

                        <p style="text-align:center; padding-top:20px; font-size:30px; font-weight:bolder;">開始聊天</p>



                        @foreach (var i in context)
                        {

                            if (@i.UserID == MainUserID)
                            {
                                <div class="content-right-context">

                                    <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                                    <div>
                                        <p style="word-wrap: break-word;">
                                            @i.Content
                                        </p>
                                    </div>

                                    <div class="content-time"><p>@i.Time</p></div>
                                </div>

                            }


                            else
                            {

                                <div class="content-left-context">

                                    <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                                    <div>
                                        <p style="word-wrap:break-word;">
                                            @i.Content
                                        </p>
                                    </div>

                                    <div class="content-time"><p>@i.Time</p></div>
                                </div>

                            }
                        }


                    </div>

                    <div style="width:100%; height:10%; padding-top:20px; text-align:center;">

                        <div>
                            <input class="input_message" style="width:90%;" placeholder="請輸入要傳入訊息">
                            <button class="submit_message" style="border:none; background-color:transparent;"><img src="~/ICON/send-fill.svg"></button>
                        </div>
                    </div>


                </div>

            </div>





@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>



    <script>


            $(function () {


                var contextheight = document.getElementById("container_context");
                contextheight.scrollTop = contextheight.scrollHeight;
                var contextheight = document.getElementById("min-view");
                contextheight.scrollTop = contextheight.scrollHeight;


                $(".friend-btn").click(function () {

                    $(".box").toggle();

                });











                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (UserID) {
                    if (@ChatRoomID == UserID) {
                        var Log = $('#Log').val();

                        var url = '@Url.Action("ChatRoom", "CharRoom", new { id = ChatRoomID})';
                        var data = null;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: data,
                            success: function (result) {
                                // 更新部分內容
                                $('#PanelReload').html(result);
                            }
                        });



                    }
                };



                $.connection.hub.start().done(function ()
                {
                    $(".submit_message").click(function () {

                        var url = '@Url.Action("Writemessage", "CharRoom", new { id = ChatRoomID})';



                        //找尋input的容器
                        var input = $(this).siblings(".input_message");
                        var inputValue = input.val();
                        var data = inputValue;
                        

                        if (data !== "") {

                            $.ajax({

                                url: url,
                                type: 'POST',
                                data: { userID:@MainUserID, ChatroomID:@ChatRoomID , inputcontext: data },
                                success: function (result) {
                                    // 更新部分內容
                                    $('#PanelReload').html(result);
                                    console.log("成功");
                                },
                                error: function () {

                                    alert("沒有成功");
                                }

                            });

                            chat.server.send(@ChatRoomID);

                        }

                    });
                });

            });

    </script>


}
