@using postArticle.viewmodel
@model postArticle.viewmodel.ChatRoomViewModel

@{
    var context = Model.ChatContext;
    var MainUserID = Model.MainUserID;
    var ChatRoom = Model.ChatRooms;
    var ChatRoomID = Model.ChatRoomID;
    var UserManage = Model.UserMange;
    int OtherID = 0;
}


@{
    foreach (var i in ChatRoom)
    {

        if (i.UserID == MainUserID)
        {
            OtherID = (int)i.OtherUserID;
        }
        else
        {
            OtherID = (int)i.UserID;
        }
    }

    <p>@OtherID</p>

    var otherdb = UserManage.Where(m => m.UserID == OtherID);
    string othername = "";
    foreach(var a in otherdb)
    {
        othername= a.UserName;
    }

}








<style>
    body {
        background-color: #A4DA8A;
    }

    .window_content {
        position: relative;
        width: 100%;
        height: 100vh;
        column-count: 2;
        margin: auto;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .container01 {
        position: relative;
        left: 5%;
        margin-top: 20px;
        width: 60%;
        height: 90%;
        background-color: red;
        border-radius: 10px;
        overflow: hidden;
    }

        .container01:hover {
            overflow: scroll;
        }

    .container02 {
        position: relative;
        margin-top: 20%;
        right: 35%;
        width: 130%;
        height: 100%;
        overflow:scroll;
    }

    .container02_context {
        width: 100%;
        height: 76%;
        border-radius: 10px;
        background-color: aquamarine;
        overflow: hidden;
    }

        .container02_context:hover {
            overflow: scroll;
        }

    .container02_header {
        position: relative;
        font-size: 30px;
        font-weight: bolder;
        top: 20px;
    }

    .container02_context {
        position: relative;
        top: 20px;
    }

    .container02_footer {
        display: inline-block;
        position: relative;
        top: 30px;
        width: 100%;
    }

    .input {
        width: 100%;
        border-radius: 10px;
        background-color: aliceblue;
    }

    .member_list {
        position: relative;
        margin: auto;
        margin-top: 5px;
        top: 25px;
        width: 90%;
        border-radius: 10px;
        height: 100px;
        background-color: aliceblue;
    }

    .content-left-context {
        margin-left: 5%;
        margin-top: 20px;
        width: 40%;
        /*height:100px;*/
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        background-color: antiquewhite;
    }

    .content-right-context {
        position: relative;
        right: -52%;
        margin-left: 5%;
        margin-top: 20px;
        width: 40%;
        /*height:100px;*/
        border-radius: 20px;
        padding: 10px 10px 10px 10px;
        background-color: antiquewhite;
    }


    .content-name {
        font-size: 25px;
        font-weight: bolder;
    }

    .content-time {
        direction: rtl;
    }




    .container01::-webkit-scrollbar {
        display: none;
    }
    .container02::-webkit-scrollbar {
        display: none;
    }

    .container02_context::-webkit-scrollbar {
        display: none;
    }
</style>




<div class="window_content">

    <div class="container01">

        <div class="member_list"></div>
        <div class="member_list"></div>
        <div class="member_list"></div>
        <div class="member_list"></div>
        <div class="member_list"></div>

    </div>

    <div class="container02">

        <div class="container02_header">你/ @othername 的聊天室</div>
        <div class="container02_context" id="container_context">


            <h2 style="text-align:center;">開始聊天</h2>


            @foreach (var i in context)
            {

                if (@i.UserID == MainUserID)
                {

                    <div class="content-right-context">

                        <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                        <div>
                            <p>
                                @i.Content
                            </p>
                        </div>

                        <div class="content-time"><p>@i.Time</p></div>
                    </div>
                }


                else
                {
                    <div class="content-left-context">

                        <div class="content-name"><h2>@i.UserManage.UserName</h2></div>
                        <div>
                            <p>
                                @i.Content
                            </p>
                        </div>

                        <div class="content-time"><p>@i.Time</p></div>
                    </div>

                }
            }

        </div>


        <div class="container02_footer">


            <input class="inputmessage" placeholder="請輸入要傳入訊息">
            <button class="submit">送出</button>


        </div>

    </div>


</div>








@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>



        <script>


            $(function () {


                var contextheight = document.getElementById("container_context");
                contextheight.scrollTop = contextheight.scrollHeight;
                console.log("進入");



                var chat = $.connection.chatHub;

                chat.client.addNewMessageToPage = function (UserID) {
                    if (@ChatRoomID == UserID) {
                        var Log = $('#Log').val();

                        var url = '@Url.Action("ChatRoom", "CharRoom", new { id = ChatRoomID})';
                        var data = null;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            data: data,
                            success: function (result) {
                                // 更新部分內容
                                $('#PanelReload').html(result);
                            }
                        });



                    }
                };


                $.connection.hub.start().done(function ()
                {
                    $(".submit").click(function () {

                        var url = '@Url.Action("Writemessage", "CharRoom", new { id = ChatRoomID})';

                        var data = $(".inputmessage").val();
                        alert(data);

                        $.ajax({

                            url: url,
                            type: 'POST',
                            data: { userID:@MainUserID, ChatroomID:@ChatRoomID , inputcontext: data },
                            success: function (result) {
                                // 更新部分內容
                                $('#PanelReload').html(result);
                                console.log("成功");
                            },
                            error: function () {

                                alert("沒有成功");
                            }

                        });

                        chat.server.send(@ChatRoomID);


                        
                    });
                });

            });

        </script>


    }
